<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.enjoytrips.model.dao.HotPlaceCommentDao">
    <!--  댓글 등록  -->
    <insert id="regist" parameterType="comment">
        INSERT INTO
            hotplace_comment(
                    hotplace_comment_content,
                    hotplace_comment_harmful,
                    hotplace_id,
                    user_id)
        VALUES (
                #{content},
                #{harmful},
                #{articleId},
                #{userId}
               )
    </insert>
    <!--  댓글 삭제  -->
    <delete id="delete" parameterType="int">
        DELETE FROM
            hotplace_comment
        WHERE
            hotplace_comment_id = #{id}
    </delete>

    <!--  댓글 수정  -->
    <update id="modify" parameterType="comment">
        UPDATE
            hotplace_comment
        SET
            hotplace_comment_content = #{content},
            hotplace_comment_harmful = #{harmful}
        WHERE
            hotplace_comment_id = #{id}
    </update>
    <!--  댓글 작성자 조회  -->
    <select id="selectCommentWriter" resultType="comment">
        SELECT hotplace_comment_id, hotplace_id, user_id
        FROM hotplace_comment
        WHERE hotplace_comment_id = #{id}
    </select>
</mapper>